body {
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/wine_cellar_bg.jpg) 100% no-repeat;
    opacity: 0.4;
    filter: contrast(2) blur(2px);
}

.header__navigation a {
    font-size: 26px;
    color: rgb(102, 14, 61);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-decoration: none;
    display: flex;
    justify-content: start;

}

.header__navigation li {
    list-style-type: none;
    margin: 16px 14px 0px 2px;
}

.header__navigation {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    align-self: start;
    flex-grow: 6;
    opacity: 1;
    z-index: 1;
}

.header__navigation li a:hover {
    color: rgb(141, 46, 231);
}

.header__logo {
    width: 200px;
    height: 150px;
    opacity: 1;
    z-index: 1;
}

.header__text {
    margin-left: 14px;
    z-index: 1;
}

.title {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    margin-top: 20px;
}

.descr {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

}

.descr__full {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.descr p::first-letter,
.descr__full::first-letter {
    color: rgb(102, 14, 61);
    font-size: 30px;
}

.char {
    color: rgb(127, 147, 48);
    font-size: 18px;
    list-style-type: none;
}

.input__text {
    width: 300px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.input__text::-webkit-input-placeholder {
    text-transform: none;
}

.email {
    color: rgb(102, 14, 61);
    background-color: rgb(239, 249, 198);
}

form {
    width: 320px;
}

iframe {
    margin: 20px 0;
}

.textarea__message {
    display: block;
    width: 200px;
    height: 80px;
    font-size: 18px;
    margin-bottom: 8px;
}

.item__img img {
    outline: 3px solid rgb(102, 14, 61);
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.item__img img:hover {
    outline: none;
}

.price {
    font-size: 30px;
    font-style: italic;
    color: red;
}

.link {
    color: black;
    text-decoration: none;
}

.char,
.descr__benefits {
    width: 530px;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    color: rgb(127, 147, 48);
    font-size: 18px;
}

.char,
.char td,
.char th {
    border: 1px solid #595959;
    padding: 3px;
    height: 35px;
}

.first-row {
    height: 70px;
}

span {
    font-weight: bold;
}

.watch-link {
    margin-bottom: 20px;
    display: block;
}

.footer {
    background-color: rgb(123, 181, 243);
    height: 140px;
    display: flex;
    justify-content: end;
    margin: 0px 0px 0px 0px;
}

.footer__text {
    margin-top: 8px;
    margin-right: 8px;
}

.first-section {
    display: flex;
}

.column {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}

.button {
    width: 100px;
    height: 40px;
    align-self: end;
    margin-right: 20px;
    font-weight: bold;
    color: rgb(102, 14, 61);
    font-size: 15px;
    border-radius: 4px;
    background: linear-gradient(#43122d7e, #d970a884);
    border: none;
    cursor: pointer;
    transition: color 0.2s, text-shadow 0.5s;
}

.button:hover {
    color: #f8f8f8;
    text-shadow: 1px 1px 2px white;
}

.button:active {
    margin: 2px 18px 2px 2px;
}

.item {
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item img {
    width: 250px;
    height: 250px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}